/* .background {
background-image: url(images/background.jpg);
/* width: 80%; */
/* } */
* {
    box-sizing: border-box;
}
body, html {
    width: auto;
    height: 100%;
    margin: 0;
  }
.background {
    background-image: url("/images/background.jpg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: blue;
}

.main_page {
    display: flex;
    padding: 20px;
}

header {
    height: 120px;
}
.upper-nav {
    display: flex;
    justify-content: space-between;
    height: 50px;
}
.logo {
 display: flex;
 width: 300px;
}

.logo img {

}
.logo h1 {
    padding: 10px;
    margin: 0;
    position: absolute;
    margin-left: 35px;

}

.search_div {
    width: 490px;
    padding: 1%;
    /* background-color: blue; */
    display: flex;
    justify-content: space-around;
    
}

.knifeimg {
    padding: 1%;
    height: 60px;
    position: relative;
}

.searchimg {
    /* display: flex; */
    flex: end;
    height: 20px;
    padding: 1%;
     /* padding-right: 28px;  */
} 

.signup {
    padding: 1%;
}
.login {
    padding: 1%;
}

.profileimg {
    /* display: flex; */
    flex: end;
    height: 30px; 
    padding: 1%;
}

  /* header nav { */
    /* display: flex; */
    /* justify-content: space-evenly; */
    /* text-decoration: none; */
    /* padding: 1.5rem;
    font-size: 1rem; */
  /* }
  header nav a {
    color: #C5CBE3;
    text-decoration: none;
  } */
  /* header nav a:hover { */
    /* color: #D79922; */
  /* } */
  /* header p { */
    /* color: #4056a1; */
  /* } */

   header nav a {
    text-decoration: none;
    color: #c5cbe3;
    font-size: x-large;
    border: 3px solid #d79922;
    background-color: #4056a1;
    padding: 10px;
    width: 30%;
    border-radius: 12px;
  }
   header nav a:hover {
    background-color: #232f58;
  }

.sidebar {
    width: 475px;
    height: 800px;
    margin: 20px;
    padding: 10px;
    text-align: center;
    background-color: rgb(179, 179, 219);
    opacity: 0.9;
}

.img-grp img{
    width: auto;
    height: 300px;
}

.img-grp {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.topnav {
    display: flex;
    /* justify-content: flex-start;
    padding-left: 20px; */
    padding: 10px;
    margin: 0;
    justify-content: space-between;
    margin-left: 35px;
}    

footer {
    width: 100%;
    height: 8vh;
    background-color: #4056a1;
    text-decoration: none;
    color: #c5cbe3;
    text-align: center;
  }

  footer nav {
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    padding: 1.5rem;
    font-size: 1rem;
  }
  footer nav a {
    color: #C5CBE3;
    text-decoration: none;
  }
  footer nav a:hover {
    color: #D79922;
  }
  footer p {
    color: #4056a1;
  }
  * {
    box-sizing: border-box;
  }