// ABOUT.LESS

* {
    box-sizing: border-box;
  }
  
  body {
    width: 80%;
    margin: 0 auto;
    background-color: #f1f0eb;
  }
  html,
  body,
  p {
    font-family: 'Josefin Sans', sans-serif;
  }
  h1,
  h2 {
    text-align: center;
    padding: 10px;
    font-size: xx-large;
    font-family: 'Indie Flower', cursive;
  }
  h3 {
    padding: 10px;
    font-family: font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.25rem;
  }
  p {
    padding: 30px;
  }
  .image {
    width: 100%;
    height: auto;
    align-self: center;
  }
  
  body {
    background-color: @bg-color;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px 20px 50px;
    margin-bottom: 10px;
  }
  nav button {
    text-decoration: none;
    color: #a3aac2;
    font-size: x-large;
    border: 3px solid #889790;
    background-color: #eceef5;
    padding: 10px;
    width: 30%;
    border-radius: 12px;
  }
  nav button:hover {
    background-color: rgb(191, 187, 243);
  }
  .about-header {
    padding: 60px;
    text-align: center;
  }
  .about-header .about-img {
    width: 100%;
    max-height: auto;
    border-radius: 12px;
    border: 2px solid #6558F5;
    padding: 5px;
    box-shadow: 10px 10px 5px grey;
  }
  @media screen and (max-width: 700px) {
    .about-header {
      padding: 2.5px;
    }
  }
  * {
    box-sizing: border-box;
  }
  body {
    width: 100%;
    margin: 0;
    color: #31312f;
  }
  .statement h3 {
    text-align: center;
    font-size: x-large;
  }
  @media screen and (max-width: 700px) {
    .statement h1,
    .statement h3 {
      font-size: 1.5rem;
    }
    h2 {
      font-size: 1.5rem;
    }
  }
  @media screen and (max-width: 500px) {
    .statement h3 {
      font-size: 1.25rem;
    }
  }
  .meet-the-team {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .meet-the-team .team {
    display: inline-block;
    margin: 20px;
    padding: 0 25px;
    height: 150px;
    width: 490px;
    font-size: 16px;
    border-radius: 50px;
    background-color: rgb(191, 187, 243);
  }
  .meet-the-team .team .team-img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #6558F5;
    padding: 3px;
  }
  .meet-the-team .team .team-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 150px;
  }
  .meet-the-team .team .team-info p {
    padding: 5px;
  }
  .meet-the-team .team .team-info .links {
    display: flex;
    justify-content: flex-end;
    margin-right: 25px;
  }
  .meet-the-team .team .team-info .links img {
    height: 35px;
  }
  @media screen and (max-width: 500px) {
    font-size: 50px;
  }
  footer {
    width: 100%;
    height: 8vh;
    background-color: rgb(126, 122, 184);
    text-decoration: none;
    color: #c5cbe3;
    text-align: center;
  }
  footer nav {
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    padding: 1.5rem;
    font-size: 1rem;
  }
  footer nav a {
    color: #c5cbe3;
    text-decoration: none;
  }
  footer nav a:hover {
    color: #c5cbe3;
  }
  footer p {
    color: #4056a1;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    width: 100%;
    margin: 0;
    background-color: @bg-color;
  }
  
  .team {
    h3 {
      text-align: center;
      font-size: x-large;
    }
  }
  
  @media @tablet {
    .statement {
      h1,
      h3 {
        font-size: 1.5rem;
      }
    }
    h2 {
      font-size: 1.5rem;
    }
  }
  @media @mobile {
    .statement {
      h3 {
        font-size: 1.25rem;
      }
    }
  }
  
  // .meet-the-team {
  //   .meet-the-team (center, wrap);
  
    .team {
      display: inline-block;
      margin: 20px;
      padding: 0 25px;
      height: 150px;
      width: 490px;
      font-size: 16px;
      border-radius: 100px;
    }
  
      .team-info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 150px;
      }
        p {
          padding: 5px;
        }
        .links {
          display: flex;
          justify-content: flex-end;
          margin-right: 25px;
        }
          img {
            height: 35px;
          }
        }
   
  @media @mobile {
    font-size: 50px;
  }